body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;

}
.quicksand {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-left: 25%;
  margin-bottom: 15%;
}
.quicksandHeading {
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
}
.photoDesign{
  height: 450px;
  width: auto;
}
.tableDesign{
margin-top: 20px;
}
::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0d4db;
}
.logo {
  width: 40%;
  height: auto;
  margin-left: 30%

}
.EmailSent {
  font-size: 14px;
}
.LoginBox {
  box-sizing: content-box;    
  padding: 50px;
  border: 2px solid gray;
  vertical-align: middle;
  display: block;
  max-width: 30%;
  height: auto;
  margin: auto;
}
.roomCaption{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
.LoginInput {
  width: 100%;
  padding: 5px;
}
.LoginFailed {
  color: #f44242;
  font-size: 13px;
}
.LoginForgot {
  margin-left: 30%;
  position: center;
  color: #000000;
  font-size: 14px;
}
.SubmitButton {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  display: block;
  background-color: #00aaff;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
}

.SubmitButton:hover {
  background-color: #ffffff;
  color: #00aaff;
  border-color: #00aaff;
  cursor: pointer;

}
.CancelButton {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 25%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 7px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

}

.CancelButton:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-border-radius: 7px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;


}
.AddButton {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.AddButton:hover {
  color: white;
  background-color: black;
  border-color: black;
  -webkit-border-radius: 1px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}
.UpdateButton {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.UpdateButton:hover {
  color: white;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-border-radius: 1px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}
.RemoveButton {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

}

.RemoveButton:hover {
  color: white;
  background-color: #d50000;
  border-color: #d50000;
  -webkit-border-radius: 1px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}
.GoButton {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

}

.GoButton:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}
.BackButton {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

}

.BackButton:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}
.schedstyle{
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.datestyle{
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 35%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.inputstyle{
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 40%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.shortinput {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 16%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.mediuminput {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  width: 33.75%;
  padding: 5px;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}
.adduser{
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
}
.selecattendees{
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 10px;
}
.documents{
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin-top: 5px;
}
.attendees{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin-top: 5px;
}
.btn-group button {
  background-color: #ef5350; /* red background */
  border: 2px solid black; /* black border */
  color: black; /* black text */
  padding: 100px;
  margin: 3px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  width: 549px;
  height: 270px;

}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ffbcaf;
}
table, th, td {
  border: 1px solid black;
}
#divSchedule{
  width: 50%;
  border: 2px solid green;
  padding: 25px;
  margin: 10px;
}
#left{
  background-color: #ef5350; /* red background */
  border: 2px solid black; /* black border */
  color: black; /* black text */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  width:49%;
  margin-bottom: 10px;
}
#left:hover {
  background-color: #ff3c34;
}
#right{
  background-color: #ef5350; /* red background */
  border: 2px solid black; /* black border */
  color: black; /* black text */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  width:49%;
  margin-bottom: 10px;
}
#right:hover {
  background-color: #ff3c34;
}
#schedicons{
  font-size: 50px;
}
#navbar{
  background-color: #b71c1c;
  border-radius: 0;

}
#navbarcolor{
  background-color: #b71c1c;

}
#right{
  float:right;
}
#navlink{
  color: #ffffff;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin: 15px 15px 8px 15px;

}
#navbrand{
  color: #ffffff;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 10px;
  margin-top: 8px;
}
#brand{
 margin-bottom: -4px;
}

#power{
  color: #ffffff;
  padding-top: 28px;
  padding-left: 20px; 
  padding-right: 40px; 
  font-size: 24px;
  text-decoration: none;
}

@media (max-width:600px) {
  .logo{
    width:50%; /*The width is 100%, when the viewport is 800px or smaller*/
  }
  .LoginBox{
    height: auto;
  }
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(-8px);

}

.hvr-selected:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  transform: translateY(-8px);

}
.hvr-text{
  transform: translateY(-12px);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.bar{
  width: 30px;
  height: 2px;
  background-color: #eeeeee;
  margin: 6px 0;
}

.profs{
  width: 150px;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .navbar-header {
    float: none;

  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    border: none;
    background: transparent !important;

    &:hover {
      background: transparent !important;
    }

  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {

    transform: translateX(20px);
  }
  .hvr-text{
    transform: translateX(20px);
  }
  .hvr-selected:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b71c1c;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transform: translateY(-8px);

  }
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b71c1c;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    }.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }

    #power{
      color: #ffffff;
      padding-top: 10px;
      padding-left: 45px; 
      padding-right: 35px; 
      font-size: 24px;
      text-decoration: none;
      padding-bottom: 60px;
    }
    #navlink{
      color: #ffffff;
      font-size: 16px;
      font-family: 'Quicksand', sans-serif;
    }
    #navbrand{
      color: #ffffff;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif;

      margin-bottom: -40px;
    }
    .datestyle{
      background-color: #ffffff;
      color: #000000;
      cursor: pointer;
      margin: 0 auto;
      width: 50%;
      padding: 5px;
      display: inline-block;
      border: 1px solid;
      border-radius: 3px;
      font-size: 15px;
      font-family: 'Quicksand', sans-serif;
    }


  } 


@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 20px;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 23px;
  float: right;
  padding-left: 10px;
  margin-right: 30px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: black;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}
